/node_modules
/.env
.DS_Store
/dist
/logs
/npm-debug.log
/build
/.vscode
/.idea
/.history
/.cache
/.nyc_output
/coverage
/.parcel-cache
/.turbo
/.next
/out
/.expo
/.expo-shared
/.firebase
/.serverless
/.vercel